<h1>Blog!</h1> 

<p>if you add a <strong>?test=[SOMETHING !] </strong> to the url. You will see a something here: <%= @test %></p>

<%= form_tag blog_path do %> 
<div>
    <%= text_field_tag :title %> 
</div>
<div>
    <%= text_area_tag :body %>
</div>
    <%= submit_tag %>
<% end %> 
